{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h2>
            {{ article.title }}
        </h2>
        <div class="metadata">
            Crée le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('h:i') }}
        </div>
        <div class="content">
            <img src="{{ article.image }}">
                {{ article.content | raw}}
            <hr>
        </div>
    </article>
{% endblock %}