{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div id="head-articles">
        <a href="">
            <div id="first-article">
                <div class="overlay"></div>
                <div class="titre-article">
                    <h3>
                        Ligue des champions
                    </h3>
                    <h4>

                    </h4>
                    <p>
                        Paris débute sa campagne européenne
                    </p>
                </div>
            </div>
        </a>
        <div id="second-article">
            <div class="overlay"></div>
            <div class="titre-article">
                <h3>
                    Ligue 1
                </h3>
                <p>
                    L'OM peut compter sur Thauvin
                </p>
            </div>
        </div>
        <div id="second-article">
            <div class="overlay"></div>
            <div class="titre-article">
                <h3>F1</h3>
                Le titre est il joué ?
            </div>
        </div>
    </div>
    <div id="list-article">
            {% for article in articles %}
                <article>
                    <h3>
                        {{ article.title }}
                    </h3>
                    <div class="metadata">
                        Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}
                    </div>
                    <div class="content">
                        <img src="{{ article.image }}">
                        <p>
                            {{ article.resume }}
                        </p>
                        <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
                    </div>

                </article>

            {% endfor %}
    </div>

{% endblock %}
